@import '../../styles/media';

.body {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1600px;

  padding-top: 50px;
  background-color: #f3f5f8;

  @include respond-above(tablet) {
    padding-top: 70px;
  }
}

.body__content {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 1600px;
  z-index: 1;
}
