@import '../../styles/input-controls';

.text-field {
  &__label {
    @include input-label();
  }

  &__input {
    @include input();
    display: block;
    width: 100%;

    &::placeholder {
      color: #9aa8be;
      font-weight: 400
    }

    &:focus {
      @include input-focus();
    }
  }

  &__error {
    color: #ef1a55;
    clear: both;
    min-height: 14px;
    margin: auto;
    display: block;
    font-size: 12px;
    line-height: 1.2em;
  }
}
