@mixin input-label() {
  font-size: 12px;
  color: #9aa8be;
  padding: 0 0 2px 0;
  margin: auto;
  display: block;
  font-weight: 600;
}

@mixin input() {
  height: 40px;
  padding: .5rem .75rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@mixin input-focus() {
  border-color: #597ea2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, .25);
}
